# üéì Support Vector Machines

Neste aula voc√™ usar√° SVM (Support Vector Machines) para construir e treinar um modelo usando registros de c√©lulas humanas e classificar as c√©lulas se as amostras s√£o benignas ou malignas.

O SVM funciona mapeando dados para um espa√ßo de recursos de alta dimens√£o para que os pontos de dados possam ser categorizados, mesmo quando os dados n√£o s√£o linearmente separ√°veis. Um separador entre as categorias √© encontrado, ent√£o os dados s√£o transformados de tal forma que o separador pode ser desenhado como um hiperplano. Em seguida, as caracter√≠sticas dos novos dados podem ser usadas para prever o grupo ao qual um novo registro deve pertencer.

In [1]:
# Depend√™ncias
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

### Importa√ß√£o e limpeza dos dados

1) Importe os dados da seguinte url: https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cell_samples.csv

In [2]:
dados = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cell_samples.csv')
dados

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

O campo ID cont√©m os identificadores do paciente. As caracter√≠sticas das amostras de c√©lulas de cada paciente est√£o contidas nos campos Clump √† Mit. Os valores s√£o classificados de 1 a 10, sendo 1 o mais pr√≥ximo de benigno.

O campo Class cont√©m o diagn√≥stico, conforme confirmado por procedimentos m√©dicos separados, se as amostras s√£o benignas (valor = 2) ou malignas (valor = 4).

Vejamos a distribui√ß√£o das classes com base Clump thickness e Uniformity of cell size:

2) Use o m√©todo `info()` para chechar quais colunas possuem valroes n√£o num√©ricos.

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           699 non-null    int64
 1   Clump        699 non-null    int64
 2   UnifSize     699 non-null    int64
 3   UnifShape    699 non-null    int64
 4   MargAdh      699 non-null    int64
 5   SingEpiSize  699 non-null    int64
 6   BareNuc      699 non-null    object
 7   BlandChrom   699 non-null    int64
 8   NormNucl     699 non-null    int64
 9   Mit          699 non-null    int64
 10  Class        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

Note que a coluna `BareNuc`possui valores n√£o num√©ricos. Vamos usar agora o m√©todo `unique()`nesta coluna para ver quais s√£o os valores √∫nicos dessa coluna.

In [4]:
dados['BareNuc'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

3) Veja que os valores faltantes na coluna `BareNuc`s√£o iguais a `'?'`. Use o m√©todo `replace()` em `df` para substituir `'?'` por `np.NaN`. Sobreescreva `df`para n√£o perder a altera√ß√£o realizada.

In [5]:
dados['BareNuc'] = dados['BareNuc'].replace('?',np.NaN)

4. Remova agora os dados faltantes usando `dropna()`

In [6]:
dados = dados.dropna()

Converta a coluna para `int` usando o m√©todo `astype()`.

In [7]:
dados['BareNuc'] = dados['BareNuc'].astype(int)

<ipython-input-7-9bb2c55b814c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['BareNuc'] = dados['BareNuc'].astype(int)

### Identifica√ß√£o das features e target

4) Crie um DataFrame `X` com todas as features. Lembrando que o target √© o atributo Class e que ID n√£o √© uma feature.

In [8]:
x = dados.drop(['Class', 'ID'], axis=1)
x

,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

5) Segmente o Dataframe para a representa√ß√£o do Target (Class)

In [9]:
y = dados['Class']
y

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: Class, Length: 683, dtype: int64

## Padroniza√ß√£o dos dados

A padroniza√ß√£o de recursos √© crucial para alguns algoritmos de aprendizado de m√°quina que consideram dist√¢ncias entre observa√ß√µes porque a dist√¢ncia entre duas observa√ß√µes difere para casos n√£o padronizados e padronizados.

Maximizamos no SVM a dist√¢ncia at√© os pontos de dados mais pr√≥ximos de diferentes classes. Portanto, a dist√¢ncia calculado entre os pontos de dados afeta o limite de decis√£o que o SVM escolhe. Em outras palavras, treinar um SVM sobre os dados padronizados e n√£o padronizados leva √† gera√ß√£o de modelos diferentes.

6. Use o `StandardScaler()` para padronizar os dados.

In [10]:
sc = StandardScaler()
x_padronizado = sc.fit_transform(x)
x_padronizado

array([[ 0.19790469, -0.70221201, -0.74177362, ..., -0.18182716,
        -0.61292736, -0.34839971],
       [ 0.19790469,  0.27725185,  0.26278299, ..., -0.18182716,
        -0.28510482, -0.34839971],
       [-0.51164337, -0.70221201, -0.74177362, ..., -0.18182716,
        -0.61292736, -0.34839971],
       ...,
       [ 0.19790469,  2.23617957,  2.2718962 , ...,  1.86073779,
         2.33747554,  0.22916583],
       [-0.15686934,  1.58320366,  0.93248739, ...,  2.67776377,
         1.02618536, -0.34839971],
       [-0.15686934,  1.58320366,  1.6021918 , ...,  2.67776377,
         0.37054027, -0.34839971]])

### Separa√ß√£o dos dados para teste e valida√ß√£o.

7) Divida os dados em treino e teste com a fun√ß√£o `train_test_split()`. Separe 20% dos dados para valida√ß√£o.

In [11]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

Verifique se as dimens√µes dos dados de teste e valida√ß√£o est√£o coerentes usando o m√©todo `shape()`.

In [12]:
print(f'X_train: {X_train.shape}')
print(f'X_test: {X_test.shape}')
print(f'y_train: {y_train.shape}')
print(f'y_test: {y_test.shape}')

X_train: (546, 9)
X_test: (137, 9)
y_train: (546,)
y_test: (137,)

### Treinamento e avalia√ß√£o da SVM criada

O algoritmo SVM oferece uma escolha de fun√ß√µes de kernel para realizar seu processamento. Basicamente, o mapeamento de dados em um espa√ßo dimensional superior √© chamado de kernelling. A fun√ß√£o matem√°tica usada para a transforma√ß√£o √© conhecida como fun√ß√£o kernel e pode ser de diferentes tipos, como:

     1. Linear
     2. Polin√¥mio
     3. Fun√ß√£o de base radial (RBF)
     4. Sigm√≥ide
Cada uma dessas fun√ß√µes tem suas caracter√≠sticas, seus pr√≥s e contras e sua equa√ß√£o, mas como n√£o h√° uma maneira f√°cil de saber qual fun√ß√£o tem o melhor desempenho com qualquer dataset, geralmente escolhemos fun√ß√µes diferentes e comparamos os resultados. 

8) Utilize a Fun√ß√£o de base radial (RBF) como kernel. O classificador SVM √© representado pelo m√©todo `SVC`

In [13]:
model = svm.SVC(kernel='rbf')
model.fit(X_train,y_train)
predict = model.predict(X_test)

9) Use o m√©todo `score()` para avaliar a performance de seu classificador.

In [14]:
model.score(X_test, y_test)

0.9708029197080292