# üéì Classificador Naive Bayes - MultinomialNB

In [1]:
import nltk
# nltk.download('punkt')
from nltk.corpus import stopwords
import string
import pandas as pd
from sklearn import feature_extraction
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import naive_bayes
from sklearn.naive_bayes import MultinomialNB

Carregue o dataset de SPAM para SMS

In [2]:
df = pd.read_csv('C:/Users/vinip/OneDrive - Funda√ß√£o S√£o Paulo/Documentos/sms_spam.csv', encoding='latin1')
df = df[['v1','v2']]
df.columns = ['categoria', 'mensagem']
df

     categoria                                           mensagem
0          ham  Go until jurong point, crazy.. Available only ...
1          ham                      Ok lar... Joking wif u oni...
2         spam  Free entry in 2 a wkly comp to win FA Cup fina...
3          ham  U dun say so early hor... U c already then say...
4          ham  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567      spam  This is the 2nd time we have tried 2 contact u...
5568       ham              Will √å_ b going to esplanade fr home?
5569       ham  Pity, * was in mood for that. So...any other s...
5570       ham  The guy did some bitching but I acted like i'd...
5571       ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

### Pr√©-processamento

Traduza a coluna `categoria` para `ham: 0` e `spam: 1` use o m√©todo do Pandas adequado para isto.

In [3]:
df['categoria'] = pd. factorize(df['categoria'])[0]
df

      categoria                                           mensagem
0             0  Go until jurong point, crazy.. Available only ...
1             0                      Ok lar... Joking wif u oni...
2             1  Free entry in 2 a wkly comp to win FA Cup fina...
3             0  U dun say so early hor... U c already then say...
4             0  Nah I don't think he goes to usf, he lives aro...
...         ...                                                ...
5567          1  This is the 2nd time we have tried 2 contact u...
5568          0              Will √å_ b going to esplanade fr home?
5569          0  Pity, * was in mood for that. So...any other s...
5570          0  The guy did some bitching but I acted like i'd...
5571          0                         Rofl. Its true to its name

[5572 rows x 2 columns]

Use a fun√ß√£o abaixo para criar uma nova coluna no dataset para o texto pr√©-processado.

1. Remo√ß√£o de pontua√ß√£o
2. Passar o texto para caixa baixa
3. Remover palavras vazias
4. Remover d√≠gitos

In [4]:
def preprocessText(msg):
    removepunc = [c for c in msg if c not in string.punctuation]
    removepunc = "".join(removepunc)
    lower = removepunc.lower()
    tokenize = nltk.word_tokenize(lower)
    remove_stop = [word for word in tokenize if word not in stopwords.words('english')]
    remove_digit = [word for word in remove_stop if not word.isdigit()]
    joinagain = " ".join(remove_digit)
    return joinagain

Crie a coluna `mensagem_pre` e use o m√©todo `apply()` do Pandas para varrear o Dataframe com a fun√ß√£o definida.

In [5]:
df['mensagem_pre'] = df.apply(lambda x: preprocessText(x['mensagem']), axis=1)
df

,categoria,mensagem,mensagem_pre
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,0,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win fa cup final tkts 21s...
3,0,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah dont think goes usf lives around though
...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,2nd time tried contact u u √•¬£750 pound prize c...
5568,0,Will √å_ b going to esplanade fr home?,√¨ b going esplanade fr home
5569,0,"Pity, * was in mood for that. So...any other s...",pity mood soany suggestions
5570,0,The guy did some bitching but I acted like i'd...,guy bitching acted like id interested buying s...
5571,0,Rofl. Its true to its name,rofl true name

### Extra√ß√£o de Features

Importe o `CountVectorizer` do Scikit-Learn

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

Inicialize o Bag of Words para as mensagens pr√©-processadas.

Dica:
```python
vectorizer = CountVectorizer()
vectorizer.fit(df[coluna].values)
```

In [7]:
vectorizer = CountVectorizer()
vectorizer.fit(df['mensagem_pre'].values)

CountVectorizer()

Crie as features a serem usadas na classifica√ß√£o, armazenadas em `X`.

Dica:
```python
X = vectorizer.transform(df[coluna].values)
```

In [8]:
X = vectorizer.transform(df['mensagem'].values)

Chame o target, que √© a categoria, de `y`.

In [9]:
y = df['categoria']

### Segmenta√ß√£o dos dados

Realize a segmenta√ß√£o dos dados usando o `train_test_split`. Separe 20% dos dados para teste.

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

### Treinamento do classificador

Treine o classificador Multinomial Naive Bayes com a parti√ß√£o feita.

In [11]:
clf = MultinomialNB()
model = clf.fit(X_train, y_train)

Avalie a precis√£o de seu classificador usando o `score`.

In [12]:
model.score(X_test, y_test)

0.9775784753363229

### Avalie agora o seu modelo nas seguintes mensagens:

In [13]:
msg1 = 'Congratulations! You`ve won a $1,000 Walmart gift card. Go to http://bit.ly/123456 to claim now.'
msg2 = 'Hello son, when are you coming back home? Mommy'

* N√£o se esque√ßa de fazer o pr√©-processamento para inserir no modelo.

dica:
```python
vectorizer.transform([texto_preprocessado])
```

In [14]:
first_msg = vectorizer.transform([msg1])
model.predict(first_msg)

array([1], dtype=int64)

In [15]:
second_msg = vectorizer.transform([msg2])
model.predict(second_msg)

array([0], dtype=int64)